a, a:visited, a:hover { text-decoration: none; color:#3B5998}
a:hover { text-decoration: underline }

/*********** web2py specific ***********/
div.flash {
    font-weight: bold;
    display: none;
    position: fixed;
    padding: 10px;
    top: 40px;
    right: 10px;
    min-width: 280px;
    opacity: 0.85;
    margin: 0px 0px 10px 10px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    background: #000;
    border: 2px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 2;
}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}

.topbar {
    width:100%; background-color: #2D2D2D; color: #F5F5F5; text-align:right; border: 0 50px 0 0 solid;
}
.topbar a {
    color: #CBD7FA;
}

.right {
       width:100%;
       text-align: right;
       float: right;
}

.statusbar {
    background-color: #F5F5F5;
    margin: 1em 0 1em 0;
}

.footer {
    background-color: #F5F5F5;
}

/* 
*Grid 
*
* The default style for SQLFORM.grid even using jquery-ui or another ui framework
* will look better with the declarations below
* if needed to remove base.css consider keeping these following lines in some css file.
*/
.web2py_grid a { text-decoration:none;}
.web2py_grid table { width: 100% }
.web2py_grid td { white-space:nowrap; }
.web2py_grid th { background-color:#EAEAEA; }
.web2py_grid tbody th,
.web2py_grid tbody td {
    padding: 5px 10px 5px;
    line-height: 13.5px;
    vertical-align: top;
}
.web2py_grid input:focus,
.web2py_grid textarea:focus,
.web2py_grid select:focus {  
        border: 1px solid #ffffff;  
        -webkit-box-shadow: 0px 0px 6px #007eff;  
        -moz-box-shadow: 0px 0px 5px #007eff;  
        box-shadow: 0px 0px 5px #007eff;  
    } 

.web2py_grid thead th {
    padding-top: 9px;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}
.web2py_grid tr.odd {background-color: #F9F9F9;}
.web2py_grid tr:hover {background-color: #F5F5F5; }

.web2py_breadcrumbs a {
    line-height: 20px; margin-right: 5px; display: inline-block;
    padding: 3px 5px 3px 5px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    color: #3C3C3D;
    text-shadow: 1px 1px 0 #FFFFFF;
    background:#ECECEC url('../images/css3buttons_backgrounds.png') 0 0 no-repeat;
    white-space: nowrap; overflow: visible; cursor: pointer;
    text-decoration: none; border: 1px solid #CACACA;
    -webkit-border-radius: 2px; -moz-border-radius: 2px;
    -webkit-background-clip: padding-box; border-radius: 2px;
    outline: none; position: relative; zoom: 1; *display: inline;
}

.web2py_console {
    background-color: #f2f2f2; padding: 5px; border-bottom: 1px solid #DDD; 
    min-height: 60px;
    text-align: center;
    position: relative;
}


.web2py_search_actions{
    width:40%;
    float:left;
    text-align:left;

}
.web2py_grid .row_buttons{
    min-height:25px;
}
.web2py_grid>.row_buttons a{
    margin:10px;
}

.web2py_grid .row_buttons a,
.web2py_paginator ul li a,
.web2py_search_actions a,
.web2py_console input[type=submit],
.web2py_console input[type=button],
.web2py_console button,
a.button {
    line-height: 13.5px; margin-right: 5px; display: inline-block;
    padding: 3px 5px 3px 5px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    color: #3C3C3D !important;
    font-weight:normal !important;
    text-shadow: 1px 1px 0 #FFFFFF;
    background:#ECECEC url('../images/css3buttons_backgrounds.png') 0 0 no-repeat;
    white-space: nowrap; overflow: visible;
    cursor: pointer; text-decoration: none;
    border: 1px solid #CACACA;
    -webkit-border-radius: 2px; -moz-border-radius: 2px;
    -webkit-background-clip: padding-box; border-radius: 2px;
    outline: none; position: relative; zoom: 1; *display: inline;
}
.web2py_grid .row_buttons a:hover,
.web2py_search_actions a:hover,
.web2py_console input[type=submit]:hover,
.web2py_console input[type=button]:hover,
.web2py_paginator ul li a:hover,
a.button:hover {
    color: #FFFFFF; 
    /*border-color: #e5e4e4; text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    background-position: 0 -40px;
    background-color: #e5e4e4;
    font-weight:normal !important;*/

    border: 1px solid #fafafa;  
    -webkit-box-shadow: 0px 0px 10px #007eff;  
    -moz-box-shadow: 0px 0px 9px #007eff;  
    box-shadow: 0px 0px 9px #007eff;  
}
.web2py_counter {
    margin-top: 5px; 
    margin-right:5px;
    width:35%;
    float:right;
    text-align:right;
}

.web2py_table, .web2py_form {
    
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
}

.web2py_paginator {
    padding: 5px;
    color: #333;
    text-align:right;
    background-color: #f2f2f2; padding: 5px; border-bottom: 1px solid #DDD; 
   
}
.web2py_paginator ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.web2py_paginator ul li {
    display: inline;
}
.web2py_paginator ul li.current a {
    font-weight: bold !important;
}
#w2p_query_panel {
        float:left;
	background:#e0e0e0;
        border:1px solid #CFCFCF;
	bottom:3px;
        left:187px;
        min-width:550px;
	min-height:16px;
        padding: 3px;
	border-radius:2px;
}
.ie9 #query_panel {padding-bottom:2px;}

