#featured{ 
	width:400px; 
	padding-right:250px; 
	position:relative; 
	/*border:5px solid #ccc; */
	height:220px; 
	/*background:#fff;*/
	padding:5px;

	background: none;
    border: none;
    color: #404040;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:5px; left:400px; 
	list-style:none; 
	padding:0; margin:0; 
	width:250px; 
	border-bottom:none;
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
	line-height:12px;
	color:#666; 
	white-space: normal;
	margin-bottom:3px;
	width:250px;
}
#featured ul.ui-tabs-nav li:hover{ 
    background:none;
    border-bottom:none;
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:11px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:48px; 
	color:#333;  
	background:#fff; 
	line-height:18px;
	border-radius:none;
	padding: 0px 0px 0px 0px;
	border-color:none;
  border:none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  width:250px;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected{ 
	background:url('images/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	width:400px; height:220px; 
	background:#999; position:relative;

	border-width: 0;
    display: block;
    padding: 0;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:150px; left:0; 
	height:70px; 
	width:400px;
	background: url('images/transparent-bg.png');
	font-size:10px; 
}
#featured .info h2{ 
	font-size:16px; font-family:Georgia, serif;
	line-height:16px; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}