{{response.files.append(URL('static','basic/js/article_show.js'))}}
{{extend "basic/app/layout.html"}}
          {{block left_sidebar}}
          <h3>< Sidebar</h3>
          <p></p>
          {{end}}


<div class="twelve columns center  show-article-wrapper">
    <div class="row show-article-meta">
      <div class="two columns alpha">
         {{=A(IMG(_src=get_image(article.author.thumbnail, 'user'), _width=100, _height=100), _href=CURL('person','show', args=article.author.nickname or article.author))}}
      </div>
      <div class="ten columns omega">
          {{=A(H3(article.title, _class="list-article-title"), _href=CURL('article', 'show', args=[article.id, article.slug]))}}
          <em>{{=T(article.content_type_id.title)}} {{=T("by")}} {{=A("%(first_name)s %(last_name)s (%(nickname)s)" % article.author, _href=CURL('person','show', args=article.author.nickname or article.author))}} {{=T('on')}} {{=ftime(article.publish_date)}} </em>
          {{if article.category_id:}}
              <em>{{=T('in')}} {{=A(article.category_id.name, _href=CURL('article', 'category', args=article.category_id.name))}}</em> 
          {{pass}}
          <p class="show-article-information" id="links">
              {{=action_links}}
          </p>
          <p class="show-article-description">
              {{=article.description}}
          </p>
      </div>
    </div>
    <div class="row show-article-content">
      {{RENDER = dict(html=XML, markmin=MARKMIN)}}
      {{=RENDER[article_data.markup](article_data.body)}}
    </div>
    <div class="row show-article-tags">
       {{if article.tags:}}
           <em>{{=T('Tags')}} {{=tagfy(article.tags)}} </em>
       {{pass}}
    </div>
    <div class="row show-article-share">
        <!-- Lockerz Share BEGIN -->
        <div class="a2a_kit a2a_default_style">
        <a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
        <span class="a2a_divider"></span>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_email"></a>
        <a class="a2a_button_google_gmail"></a>
        <a class="a2a_button_google_plus"></a>
        <a class="a2a_button_tumblr"></a>
        </div>
        <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
        <!-- Lockerz Share END -->
    </div>
    <div class="row show-article-related">
         <h4>{{=T("Related articles")}}</h4>
        {{=related_articles}}
    </div>
    <div class="row show-article-comments">
        {{=comments}}
    </div>

</div>

<hr />

{{#=article.keys()}}
<br />
{{#=article_data.keys()}}