
<h5 style="margin-left: -9px;">{{=T("Most liked members").upper()}}</h5>
<br>
<ul class="thumbnails">

 {{for member in active_members:}}   
    <li class="span ">
        {{=A(IMG(_style="width:70px;height:70px;max-width:92px;max-height:92px",_src=get_image(None, 'user', themename='bootstrap', user=member)), _class="thumbnail memberpicture",_href=CURL('person','show', args=member.nickname or member.id), _title=get_name_of(member),**{"_data-content": member.tagline or member.about})}}
    </li>

{{pass}}

</ul>

<h5 style="margin-left: -9px;">{{=T("Members").upper()}}</h5>
<br>
<ul class="thumbnails">

 {{for member in members:}}   
    <li class="span ">
        {{=A(IMG(_style="width:70px;height:70px;max-width:92px;max-height:92px",_src=get_image(None, 'user', themename='bootstrap', user=member)), _class="thumbnail memberpicture",_href=CURL('person','show', args=member.nickname or member.id), _title=get_name_of(member),**{"_data-content": member.tagline or member.about})}}
    </li>

{{pass}}

</ul>

