{{response.files.append(URL('static','menu/js/home_index.js'))}}
{{extend "menu/app/layout.html"}}

{{block header}}
 <div class="row-fluid hero-unit header" style="padding:0px;">
    <div style="padding:15px;">
    {{include "menu/app/featured_slider.html"}}
    <div class="span4 featuredmembers" style="height:50%">
          <h6>
            {{#=T("Featured Product")}}
          </h6>

        {{if block1:}}
        <div class="well" style="text-align:left;background-color: #EDEDED;">
        
          {{=A(H4(block1[0].title, _class="list-article-title"), _href=CURL('article', 'show', args=[block1[0].id, block1[0].slug], extension=False))}}
          <div class="row" style="margin-top:10px;"> 
            
            <div class="span5" style="margin-right:5px;">
            {{=A(IMG(_src=get_image(block1[0].thumbnail, block1[0].content_type_id.identifier), _width=100, _height=100), _href=CURL('article', 'show', args=[block1[0].id, block1[0].slug], extension=False))}}
            </div>
            <p style="font-size:13px;line-height:16px;">
            {{=A("%s ..." % remove_tags(block1[0].description[:70]), _href=CURL('article', 'show', args=[block1[0].id, block1[0].slug], extension=False))}}
            
            </p>
          
          </div>
          <div class="pull-right">
          {{=T("by")}} {{=A(block1[0].author.nickname, _href=CURL('person','show', args=block1[0].author.nickname or block1[0].author, extension=False))}}
          </div>
        </div>
        {{pass}}
    </div>
    <div class="span4 featuredmembers" style="height:50%">
          <h6>
            {{#=T("Vegan tip")}}
          </h6>

        {{if block2:}}
        <div class="well" style="text-align:left;background-color: #EDEDED;">
        
          {{=A(H4(block2[0].title, _class="list-article-title"), _href=CURL('article', 'show', args=[block2[0].id, block2[0].slug], extension=False))}}
          <div class="row" style="margin-top:10px;"> 
            
            <div class="span5" style="margin-right:5px;">
            {{=A(IMG(_src=get_image(block2[0].thumbnail, block2[0].content_type_id.identifier), _width=100, _height=100), _href=CURL('article', 'show', args=[block2[0].id, block2[0].slug], extension=False))}}
            </div>
            <p style="font-size:13px;line-height:16px;">
            {{=A("%s ..." % remove_tags(block2[0].description[:70]), _href=CURL('article', 'show', args=[block2[0].id, block2[0].slug], extension=False))}}
            
            </p>
          
          </div>
          <div class="pull-right">
          {{=T("by")}} {{=A(block2[0].author.nickname, _href=CURL('person','show', args=block2[0].author.nickname or block2[0].author, extension=False))}}
          </div>
        </div>
        {{pass}}
    </div>
    </div>
</div>
{{end}}

 {{block left_sidebar}}
     {{super}}
     <div class="well featured-members">
     {{include "menu/app/featured_members.html"}}
     </div>
      
      <div class="well">
      <h5 class="" style="margin-bottom:0px;padding-top:2px;padding-bottom:2px;">{{=T("Recent activities")}}</h5>
     {{=LOAD('person','publictimeline.load',args='sidebar' ,vars=dict(limitby='0,5'), ajax=True)}}
     </div>

     <div class="fb-like-box" data-href="http://www.menuvegano.com.br" data-width="194" data-show-faces="true" data-stream="true" data-header="true"></div>
 {{end}}

{{if session.auth and 1==2:}}
  <h4 class="bottom-line">
      <i class="icon-th-list"></i>
      {{=T("Your Feed")}}
  </h4>
  {{=LOAD('person','privatetimeline.load' ,vars=dict(limitby='0,5'), ajax=True)}}
  <br/>
{{pass}}

{{#=LOAD('article','list.populartop',vars=dict(limitby='0,3',popular="true"), ajax=True)}}
{{=LOAD('article','list.populartop2',vars=dict(limitby='0,3',popular="true"), ajax=True)}}

<!-- content tabs -->
  <h4 class="bottom-line">
      <i class="icon-list-alt"></i>
      {{=T("Content")}}
  </h4>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="{{=CURL('article','list.load',vars=dict(limitby='0,5'))}}">{{=T("All")}}</a></li>
      {{if not user_is("admin"):}}
          {{content_types = content_types.as_list()}}
          {{content_types.append({"id":3, "title":T("Product")})}}
      {{pass}}
      {{for i, content_type in enumerate(content_types):}}
          {{if i <= 1:}}
          <li><a data-toggle="tab" href="{{=CURL('article','list.load', vars={'content_type_id':content_type['id'],'limitby':'0,5'})}}">{{=T(content_type['title'])}}</a></li>
          {{pass}}
      {{pass}}
      {{if len(content_types) > 2:}}
              
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      {{=T("More")}}
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    {{for i, content_type in enumerate(content_types):}}
                         {{if i > 1:}}
                             <li><a data-toggle="tab" href="{{=CURL('article','list.load', vars={'content_type_id':content_type['id'], 'limitby':'0,5'})}}">{{=T(content_type['title'])}}</a></li>
                         {{pass}}
                    {{pass}}
 
                  </ul>
              </li>
      {{pass}}
      <li>
          <a class="noaction" data-toggle="tab" href="" onclick="return false;" style="padding:0;padding-top:3px;padding-bottom:3px;">
               <input class="article-search" data-url="{{=CURL('article','list.load')}}" placeholder="{{=T('Search')}}" type="text" id="sq" name="sq" style="margin:0px;border:none;width:100px;color:#880000;border-radius:none;box-shadow:none;">
          </a>
      </li>
    </ul> 
    <script>
    $(function () {
      $('.tabs a:last').tab('show')

      $('a[data-toggle="tab"]').on('show', function (e) {
         if ($(e.target).hasClass("noaction")){
          return false;
         }
         e.target; // activated tab
         e.relatedTarget; // previous tab
         url = $(e.target).attr("href");
         web2py_ajax_page("GET", url, "", "content-placeholder")
      })


      $('.article-search').on('keyup', function (e) {
        elem = $(".article-search");
        sq = elem.val();
        url = elem.attr("data-url");
        web2py_ajax_page("GET", url + "?sq=" + sq + "&limitby=0,5" , "", "content-placeholder")
      })


    })
    </script>
    <style>
    #content-placeholder{
      margin-top: -15px;
    }
    </style>
    {{=LOAD('article','list.load',vars=dict(limitby='0,5'), ajax=True, target="content-placeholder")}}

<!-- /content tabs -->

{{block right_sidebar}}

  <div class="well participe">
    <img width="40" style="margin-left:-15px;float:right;margin-right:10px;" src="{{=URL('static', 'menu', args=['images','kitchen','espatula.png'])}}">
    <h3>{{=T("Get in!")}}</h3>
    <p>
      <a href="{{=CURL('article','new',args='CookRecipe')}}">
           {{=XML(T("Send your recipe and help us to promote the <strong>veg</strong>etari<strong>anism!</strong>"))}}
      </a>
          </p> 
  </div>



          <div id="accordion2" class="accordion">
            <h5>CATEGORIAS</h5>
            {{for item in categories:}}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#collapse{{=item['id']}}" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" style="background:#FFF7DF;">
                  {{=T(item['content_type'])}}s
                </a>
              </div>
              <div class="accordion-body collapse" id="collapse{{=item['id']}}" style="height: 0px;">
                <div class="accordion-inner">
                    
                  <ul class="nav nav-list">
                    {{for category in item['categories']:}}
                        <li><a href="{{=CURL('article', 'list', vars=dict(category=category.name, content_type_id=item['id']))}}"><i class="i"></i> {{=T(category.name)}}</a></li>
                    {{pass}}
                     <li><a href="{{=CURL('article', 'list', vars=dict(content_type_id=item['id']))}}"><i class="i"></i> {{=T("View all")}}</a></li>
                  </ul>

                </div>
              </div>
            </div>
            {{pass}}


          </div>


  
  {{if block3:}}
  <div class="well" style="text-align:center;">
    {{=A(H4(block3[0].title, _class="list-article-title"), _href=CURL('article', 'show', args=[block3[0].id, block3[0].slug], extension=False))}}
    {{=A(IMG(_src=get_image(block3[0].thumbnail, block3[0].content_type_id.identifier), _width=100, _height=100), _href=CURL('article', 'show', args=[block3[0].id, block3[0].slug], extension=False))}}
    <p>
    {{=A("%s ..." % remove_tags(block3[0].description[:150]), _href=CURL('article', 'show', args=[block3[0].id, block3[0].slug], extension=False))}}
    </p>
    {{=T("by")}} {{=A(block3[0].author.nickname, _href=CURL('person','show', args=block3[0].author.nickname or block3[0].author, extension=False))}}
  </div>
  {{pass}}

  
  {{#=LOAD('article','list.popular',vars=dict(limitby='0,4',popular="true"), ajax=True)}}

  <div class=""></div>
          <h4 class="bottom-line" style="clear:left;">
      <i class="icon-tag"></i>
      {{=T("Tags")}}
  </h4>
    {{=LOAD('article','tagcloud.load', ajax=True)}}
{{end}}
