  <div class="carousel slide" id="adsCarousel">
  <div class="carousel-inner">
    {{items = [URL('static','menu',args='ad1.png'),URL('static','menu',args='ad2.png')]}}
    {{for i,x in enumerate(items):}}
    <div class="item {{='active' if i == 0 else ''}}">
      <a href="" ><img alt="" src="{{=x}}" style="max-height:185px;height:185px;width:100%;"></a>
    </div>
    {{pass}}
  </div>
<!--   <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
  <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a> -->
</div>