  <div class="carousel_ slide topcarousel" id="adsCarousel" style="margin-bottom:0;">
  <div class="carousel-inner">
    {{
    items = [
              #[URL('static','menu',args=['banner_invente.png']), CURL('page','show', args='mandiokejo')],
              [URL('static','menu',args=['images','ads','banner_eric.png']), CURL('page','show', args='concorra-ao-livro-alimentacao-sem-carne-do-dr-eric-slywitch')],
            ]
    }}
    {{for i,x in enumerate(items):}}
    <div class="item {{='active' if i == 0 else ''}}">
      <a href="{{=x[1]}}"><img alt="" src="{{=x[0]}}" style="max-height:200px;height:200px;width:100%;"></a>
    </div>
    {{pass}}
  </div>
<!--   <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
  <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a> -->
</div>