{{extend 'basic/app/layout.html'}}
{{if request.args(0) in ['register', 'profile']:}}
    <script>
     jQuery(function(){
        jQuery('#auth_user_nickname').keyup(function(){
        	ajax('{{=URL('person','check_availability')}}/nickname/'+jQuery(this).val()+'/{{=request.args(0)}}',[],':eval')
        });
        jQuery('#auth_user_email').blur(function(){
        	ajax('{{=URL('person','check_availability')}}/email/'+jQuery(this).val()+'/{{=request.args(0)}}',[],':eval')
        });
     });
    </script>
{{pass}}
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
<hr />
<div id="web2py_user_form">
	{{=form}}
	<hr />
	{{if request.args(0) in ['login', 'register'] and use_facebook:}}
         <a href="{{=URL('person', 'facebook', args='login')}}">{{=IMG(_src=URL('static', 'basic', args=['images', 'facebook-connect.png']))}}</a>     
	{{pass}}
	{{if request.args(0) in ['login', 'register'] and use_google:}}
         <a href="{{=URL('person', 'google', args='login')}}">{{=IMG(_src=URL('static', 'basic', args=['images', 'google-connect.png']))}}</a>     
	{{pass}}
	{{if request.args(0)=='login':}}
		{{if not 'register' in auth.settings.actions_disabled:}}
			<hr/><a href="{{=URL(r=request, args='register')}}" class="button">{{=T("Create an account")}}</a>
		{{pass}}
		{{if not 'request_reset_password' in auth.settings.actions_disabled:}}
			<a href="{{=URL(r=request, args='request_reset_password')}}" class="button">{{=T("lost password")}}</a>
		{{pass}}
	{{pass}}
</div>

<script language="javascript">
<!--
 jQuery("#web2py_user_form input:visible:enabled:first").focus();
//-->
</script> 
