{{def eventbox(event):}}
<li class="timeline-item row eight columns" style="padding-top:5px;margin:0px;" onclick="window.location='{{=event_info[event.event_type]['url_to']}}/{{=event.event_link_to}}'">
   <div class="row">
	<div class="one columns alpha" style="margin-right:0;">
	    <a href="{{=event_info[event.event_type]['url']}}/{{=event.event_link}}" title="{{=event.nickname}}"><img width="30" height="30" src="{{=event.event_image}}"></a>
	</div>
	<div class="six columns timeline-text" style="font-size:14px;line-height:14px;padding:0px;">


	    <a href="{{=event_info[event.event_type]['url']}}/{{=event.event_link}}"><strong>{{=event.nickname}}</strong></a>

        {{if event.event_link_to:}}
            <a style="text-decoration:none;color:#000;" href="{{=event_info[event.event_type]['url_to']}}/{{=event.event_link_to}}">
	            {{=event_info[event.event_type]['title'] % event}}
	        </a>
	    {{else:}}
                {{=event_info[event.event_type]['title'] % event}}
	    {{pass}}
	    
	    <p  onclick="window.location='{{=event_info[event.event_type]['url_to']}}/{{=event.event_link_to}}'">
	    {{if 'icon' in event_info[event.event_type]:}}
            <img style="float:left;margin-right:10px;" src="{{=URL('static', theme_name, args=['images','icons', event_info[event.event_type]['icon']], extension=False)}}"> 
	    {{pass}}
	    {{=XML(event.event_text)}}
	    </p>
	</div>
	{{if event.event_image_to:}}
	<div class="one columns omega" style="margin-left:0;">
	    <a href="{{=event_info[event.event_type]['url_to']}}/{{=event.event_link_to}}" title="{{=event.event_to}}"><img width="50" height="50" src="{{=event.event_image_to}}"></a>
	</div>
	{{pass}}
  </div>
  <div class="row">
	<div class="four columns alpha" style="text-align:left;font-size:14px;line-height:14px;padding:0px;">{{=pdate(event.created_on)}}</div>
	<div class="four columns omega" style="text-align:right;font-size:14px;line-height:14px;padding:0px;">
	    <a>{{=T('reply')}}</a> | <a>{{=T('edit')}}</a> | <a>{{=T('delete')}}</a> &nbsp;&nbsp;
	</div>
  </div>
</li>
{{return}}
