{{response.files.append(URL('static','menu/js/cookrecipe_show.js'))}}
{{extend "menu/app/layout.html"}}

<a href="http://www.menuvegano.com.br/page/show/mandiokejo">
    <img src="{{=CURL('static','menu',args='invente.png')}}" />
</a>

<blockquote>
  <h3>
Ajude-nos a escolher a melhor combinação com Mandiokejo!<br>
Clique em "curtir" e compartilhe no facebook! Quem tiver a sugestão mais curtida e mais compartilhada ganhará 1 kg de Mandiokejo!<br>
</h3>
</blockquote>

<a class="btn " href="http://www.menuvegano.com.br/page/show/mandiokejo"><< Ver todas as sugestões enviadas</a>
<a class="btn btn-primary" href="http://www.menuvegano.com.br/article/new/ReceitaDiaDaPizza">Envie sua sugestão!</a>
<hr>

{{block left_sidebar}}
   {{super}}
{{end}}

<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    //$(".video").fitVids();
    $($('.icon_link')[1]).hide();
    $('.pin-it-button').hide();
  });
</script>

{{ingredients = [item for item in article_data.ingredients if not item.startswith('#')]}}

{{colors = "|".join(get_random_colors(len(ingredients)))}}

{{porcentagem = 100 / len(ingredients)}}

<article class="article-container hentry">
  <header>
  <div class="row-fluid well show-article-meta" style="padding:0;">
      <div class="srow-fluid" style="padding:15px;">    
        <ul class="thumbnails span2" style="text-align:left;">
        <li class="author-picture span8">
                {{=A(IMG(_src=get_image(None, 'user', themename='bootstrap', user=article.author)), _class="thumbnail",_href=CURL('person','show', args=article.author.nickname or article.author))}}
        </li>
        </ul>
        <div class="span10"> 
        <a href="{{=CURL('page','reportcontent', args=[article.content_type_id.identifier,article.id,article.slug])}}" title="{{=T('Ajude a moderar o conteúdo e garantir que nossas receitas sejam 100% veganas!')}}" style="position:relative;top:0;right:0;" class="pull-right"><i style="margin-right:5px" class="icon-flag"></i>{{=T("Report")}}</a>

          {{=A(H3(article.title, _class="list-article-title entry-title"), _href=CURL('article', 'show', args=[article.id, article.slug]))}}
        </div>
        <div class="span10">  
          <em>
            {{if article.draft:}}
                <span class="label label-important">{{=T("Draft")}}</span> 
            {{pass}}
            {{if not article.is_active:}}
                <span class="label label-important">{{=iicon('trash icon-white')}}{{=T("Deleted")}}</span> 
            {{pass}}
            <span class="label label-info">{{=T(article.content_type_id.title)}}</span> {{=T("by")}} {{=A("%(first_name)s %(last_name)s (%(nickname)s)" % article.author, _href=CURL('person','show', args=article.author.nickname or article.author))}}</em> | <em> {{=T('on')}} <i class="icon-time"></i> 
            <time class="updated" datetime="{{=article.publish_date}}" pubdate>
              {{=ftime(article.publish_date)}} </time>
            
            </em> | <em>
           {{if article.category_id:}}
             
              {{=T('in')}}             {{=XML(", ".join([str(A(category_id.name, _href=CURL('article', 'list', vars=dict(category=category_id.name.replace(' ','_'))))) for category_id in article.category_id]))}}</em> 
          {{pass}}
        </div>

        <div class="span10 action_links" style="margin-top:10px;" id="links"> 
          {{=action_links}}
        </div>                
      </div>
     
  </div>
</header>

  {{include 'menu/app/share_buttons.html'}}
  {{#share()}}
  
<div class="row-fluid show-article-description">      
    <div class="show-article-description article-box">
            {{=H4(iicon('glass'), T("Recipe Description"))}}
      <blockquote class="show-article-description span10 entry-summary" style="margin-top:15px;">
            <p>{{=article.description}}</p>
      </blockquote>
    </div>
</div>  

 <div class="row-fluid show-article-content entry-content">   


    <div class="span8" style="margin-right:0;margin-left:0">

       <div id="chart_div2" >
           <img src="{{=article.thumbnail}}" />
           <!-- div style="z-index:999;margin-top:-451px;width:451px;height:451px;background-image: url({{=CURL('static','menu',args='pizza_overlay.png')}})" >
              <img src="{{=CURL('static','menu',args='pizza_overlay.png')}}" />
           </div -->
       </div>
     
    </div>
       <div class="span4 alert alert-info cook-recipe-information" style="margin:0;padding:0;padding-top:10px;margin-left:0px;margin-top:0px;">
        <p style="margin:10px;">
        Para votar nesta sugestão, clique em curtir ou compartilhe no facebook.
        </p>
        <!-- Lockerz Share BEGIN -->
          <ul style="margin:5px;">
            <li class="pull-right">
            {{include 'menu/app/share_buttons.html'}}
            {{share(classes="cook-recipe-share", columns="", like=True,lockerz=False, tweet=False,data_action="like")}}
            </li>
          </ul>
          <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
          <!-- Lockerz Share END -->
       
       </div>

 </div>

  <div class="row-fluid show-article-content" id="ingredients">   

      <div class="span12 cook-recipe-ingredients article-box" style="margin:0;padding:10px 0;">
              {{=H4(iicon('th-list'), T("Ingredients"))}}
              {{=UL(*[LI(MARKMIN(item)) for item in article_data.ingredients],_style="margin:0;list-style:none;", _class="well")}}
        
       
       </div>

       <!--div class="span8 cook-recipe-instructions article-box" style="margin:0;padding:10px 0;margin-left:10px;">
              {{=H4(iicon('question-sign'), T("Preparation Instructions"))}}
              {{=XML(article_data.instructions)}}
        
       
       </div -->

 </div>

{{if article_data.credits:}}
 <div class="row-fluid show-article-ref"> 

       <div class="span12 alpha article-box"> 
          {{=H4(iicon('folder-close'), T("References"))}}
          {{=XML(str(MARKMIN(article_data.credits)).replace("<a href", "<a target='_blank' href"))}}
       </div>

 </div>
 {{pass}}

  <div class="row-fluid show-article-tags">
       {{if article.tags:}}
           <i class="icon-tags"></i><em>{{=tagfy(article.tags)}} </em>
       {{pass}}
  </div> 

 {{share(like=False)}}

  <div class="row-fluid show-article-related article-box">
    {{if related_articles:}}
         <h4><i class="icon-magnet"></i>{{=T("Related articles")}}</h4>
        {{=related_articles}}
    {{pass}}
  </div>  

  <div class="row-fluid show-article-comments article-box" id="comments">
        {{comment_images = comments.elements('img') }}
        {{if comment_images:}}
            {{comments.elements('img')[0]['_style'] = "display:none"}}
        
        {{comments.elements('h4')[0].insert(0, TAG['i'](_class="icon-comment"))}}
        {{lis = comments.elements('.comment_li')}}
        {{for li in lis:}}
           {{li['_class'] += " well"}}
        {{pass}}
        {{comments['_class'] += "row-fluid"}}
        {{comments.elements('.comment_ul')[0]['_style'] = "list-style:none;margin-left:0;"}}
        {{pass}}
        {{=comments}}

  </div>    
</article>
