<div id="featured" >
   
	<ul class="ui-tabs-nav">
	    {{for article in featured:}}
	    <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-{{=article.id}}"><a href="#fragment-{{=article.id}}"><img src="{{=get_image(article.thumbnail, article.content_type_id.identifier)}}" height="38" alt="" /><span>{{=article.title}}</span></a></li>
	    {{pass}}
	</ul>

    {{for article in featured:}}
	<!-- First Content -->
	<div id="fragment-{{=article.id}}" class="ui-tabs-panel ui-tabs-hide" style="">
		<a href="{{=CURL('article', 'show', args=[article.id, article.slug])}}"><img src="{{=get_image(article.medium_thumbnail or article.picture, article.content_type_id.identifier)}}" alt="" width="400" height="220" /></a>
		<div class="info" >
		<h2><a href="{{=CURL('article', 'show', args=[article.id, article.slug])}}" >{{=article.title}}</a></h2>
		{{desc = article.description or ''}}
		<p>{{=desc[:101]}}... <a href="{{=CURL('article', 'show', args=[article.id, article.slug])}}">{{=T("read more")}}</a></p>
		</div>
	</div>
	{{pass}}
</div>
