{{response.files.append(URL('static','basic/js/home_index.js'))}}
{{response.files.append(URL('static','basic/featured_slider/style.css'))}}
{{response.files.append(URL('static','basic/featured_slider/featured.js'))}}
{{response.files.append(URL('static','basic/cycle/cycle.js'))}}
{{response.files.append(URL('static','basic/cycle/cycle.css'))}}
{{extend "basic/app/layout.html"}}

    {{block header}}
    <div class="header">
      <div class="container">  
        <div class="five columns omega">
         {{if not session.auth:}}
           {{include "basic/app/cycle_ads.html"}}
         {{pass}}
        </div>       
        <div class="eleven columns alpha">
        {{include "basic/app/featured_slider.html"}}
        </div>

      </div>
    </div>
    {{end}}

    {{block left_sidebar}}
       {{super}}
    {{end}}

 {{=LOAD('article','list.load',vars=dict(limitby='0,10'), ajax=True)}}



          {{block right_sidebar}}
          <h3>> Sidebar</h3>
          <p>{{=LOAD('home', 'base.load', ajax=True)}}</p>
          {{end}}
