{{extend "basic/app/layout.html"}}
          {{block left_sidebar}}
          <h3>< Sidebar</h3>
          <p></p>
          {{end}}

{{for article in latest_articles:}}

<div class="eight columns center" style="padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid gray;">
  <img src="{{=URL('default', 'download', args=article.thumbnail)}}" width='100' style="float:left;margin-right:15px;" />
  {{=A(H3(article.title), _href=URL('article', 'show', args=[article.id, article.slug]) ) }}
  <p>{{=article.description}}</p>
  {{=article.content_type_id.identifier}}
  <img src="{{=URL('default', 'download', args=article.author.thumbnail)}}" width='50' style="float:right;margin-right:15px;" />  
  <br />
  <span style="float:right;">{{=article.author.nickname}}</span>

</div>

{{pass}}

          {{block right_sidebar}}
          <h3>> Sidebar</h3>
          <p>{{=LOAD('home', 'base.load', ajax=True)}}</p>
          {{end}}
