<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
	   (even in intranet) & Chrome Frame
	   Remove this if you use the .htaccess -->
  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->
  
  <title>{{=response.meta.title or request.application}}</title>
  
  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />
  
  <!-- Speaking of Google, don't forget to set your site up:
	   http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

<!--   <meta property="og:title" content="Titulo" />
  <meta property="og:type" content="article" />
 <meta property="og:url" content="http://cursodepython.com.br" />
 <meta property="og:image" content="http://movuca/aaa.jpg" />
 <meta property="og:site_name" content="movuca" />
 <meta property="fb:admins" content="1766038844" /> -->

  <!--  Mobile Viewport Fix
	  j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
	  device-width: Occupy full width of the screen in its current orientation
	  initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	  user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  
  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{=URL('static','basic/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','basic/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables 
	   HTML5 elements & feature detects -->
  <script src="{{=URL('static','basic/js/modernizr-1.7.min.js')}}"></script>  

  <!-- include stylesheets -->
  {{
  response.files.append(URL('static','basic/css/skeleton.css'))
  response.files.append(URL('static','basic/css/web2py.css'))
  response.files.append(URL('static','basic/css/superfish.css'))
    response.files.append(URL('static','basic/css/basic.css'))
  response.files.append(URL('static','basic/js/superfish.js'))


  }}

  {{include 'basic/app/web2py_ajax.html'}}

  <script type="text/javascript">
    jQuery(function(){ jQuery('ul.sf-menu').supersubs({minWidth:12,maxWidth:30,extraWidth:3}).superfish(); });

  
    {{if session.auth and session.auth.user:}}
    $(document).ready(function () {
       ajax($("#notification-dialog").attr("data-counter-url"),[],"notification-counter");
    });
    {{pass}}
  </script>

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  header_enabled = globals().get('header_enabled',False)
  middle_columns = {0:'sixteen',1:'twelve',2:'eight'}[
     (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

<script type="text/javascript">
  // var uvOptions = {};
  // (function() {
  //   var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
  //   uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/xI7XaFvYY317GCzbHNxDQ.js';
  //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  // })();

var _ues = {
host:'movuca.userecho.com',
forum:'10714',
category:null,
lang:'en',
tab_corner_radius:6,
tab_font_size:18,
tab_image_hash:'RmVlZGJhY2s%3D',
tab_alignment:'left',
tab_text_color:'#FFFFFF',
tab_bg_color:'#080707',
tab_hover_color:'#857D7D'
};

(function() {
    var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
    _ue.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
  })();

</script>



{{if request.controller in ['article'] and request.function in ['show']:}}
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shCore.js"></script>
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushBash.js"></script>
<!-- <script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushCSharp.js"></script> -->
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushCss.js"></script>
<!-- <script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushDelphi.js"></script> -->
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushDiff.js"></script>
<!-- <script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushGroovy.js"></script> -->
<!-- <script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushJava.js"></script> -->
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushJScript.js"></script>
<!-- <script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushPhp.js"></script> -->
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushPlain.js"></script>
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushWeb2py.js"></script>
<!-- <script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushRuby.js"></script> -->
<!-- <script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushScala.js"></script> -->
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushSql.js"></script>
<!-- <script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushVb.js"></script> -->
<script type="text/javascript" src="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/shBrushXml.js"></script>
 <link type="text/css" rel="stylesheet" href="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/styles/shCore.css"/>
 <link type="text/css" rel="stylesheet" href="{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/styles/shThemeDefault.css"/>
 <script type="text/javascript">
  SyntaxHighlighter.config.clipboardSwf = '{{=URL('static','plugin_ckeditor')}}/plugins/syntaxhighlight/scripts/clipboard.swf';
  SyntaxHighlighter.all();
 </script>
{{pass}}

</head>
<body>

<!-- <div class="loader">
  Loading...
</div> -->
    
<div id="notification-dialog" title="Notifications" data-url="{{=URL('notification','list_latest.load')}}" data-mark-url="{{=URL('notification','mark_as_read')}}" data-counter-url="{{=URL('notification','count')}}"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=133622423420992";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div class="wrapper"><!-- for sticky footer -->
  
    <div class="topbar">

      <div class="container">    
        <div class="sixteen columns">
          <a style="float:left;margin-right:30px;" href="{{=CURL('home', 'index')}}"><img src="{{=URL('static', 'images', args='minilogo_white.png')}}" height="40"></a>
          <div id="navbar">{{=search_form}}</div>
          {{is_mobile=request.user_agent().is_mobile}}
          <div id="menu">{{=MENU(response.menu, _class='mobile-menu' if is_mobile else 'sf-menu',mobile=is_mobile)}}

          </div>
        </div>
      </div>
    </div><!-- topbar -->
    
    <div class="flash">{{=response.flash or ''}}</div>
    {{if header_enabled:}}
      {{block header}}
      <div class="header">
        <div class="container">  
          <div class="twelve columns omega">
           
          </div>       
          <div class="four columns alpha">
          
          </div>

        </div>
      </div>
      {{end}}
    {{pass}}

            <!-- AddToAny BEGIN 
            <div style="float:right; padding-top: .25em;" class="a2a_kit a2a_default_style">
            <a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a></div>
            <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
            AddToAny END -->

    <div class="main">
      <div class="container">                 
        {{if left_sidebar_enabled:}}
        <div class="four columns left-sidebar">
          {{block left_sidebar}}
              <h4 class="bottom-line">
        <img src="{{=URL('static','basic/images/icons', args='monitor.24.png')}}" alt="{{=T('Activities')}}" title="{{=T('Activities')}}">
        {{=T("Public Activities")}}
    </h4>
    {{=LOAD('person','publictimeline.load',args='sidebar' ,vars=dict(limitby='0,8'), ajax=True)}}
              
          {{end}}
        </div>
        {{pass}}
        
        <div class="{{=middle_columns}} columns center">
          {{block center}}
          {{include}}
          {{end}}
        </div>
        
        {{if right_sidebar_enabled:}}
        <div class="four columns">
          {{block right_sidebar}}
          <h3>Right Sidebar</h3>
          <p></p>
          {{end}}
        </div>    
        {{pass}}
        
      </div><!-- container -->
    </div><!-- main -->
    
    <div class="push"></div>
  </div><!-- wrapper -->

  <div class="footer">
    <div class="container">    
      <div class="sixteen columns">
        {{block footer}} <!-- this is default footer -->
        <div class="footer-content" >
          {{=T('Copyright')}} &#169; 2011
          <div style="float: right;">
            <a href="http://www.web2py.com/">
            <img style="padding-bottom: 0;" src="{{=URL('static','basic/images/poweredby.png')}}"/>
            </a>
          </div>
        </div>
        {{end}}	
      </div>
    </div><!-- container -->
  </div><!-- footer -->
  
  <!--[if lt IE 7 ]>
	<script src="{{=URL('static','basic/js/dd_belatedpng.js')}}"></script>
	<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
	<![endif]-->
  {{if response.google_analytics_id:}}<script>/* http://mathiasbynens.be/notes/async-analytics-snippet */ var _gaq=[['_setAccount','{{=response.google_analytics_id}}'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script')) </script>{{pass}}
  {{#=response.toolbar()}}
</body>
</html>
