{{def share():}}
<div class="row show-article-share">
    <!-- Lockerz Share BEGIN -->
    <div class="a2a_kit a2a_default_style four columns alpha">
    <a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
    <span class="a2a_divider"></span>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_google_gmail"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_tumblr"></a>
    </div>
    <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
    <!-- Lockerz Share END -->
    <div class="fb-like eight columns omega" data-href="{{=URL(request.controller,request.function,args=request.args,vars=request.vars,scheme=True,host=True)}}" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false" data-font="verdana"></div>
</div>
{{return}}