<script type="text/javascript"><!--
    // These variables are used by the web2py_ajax_init function in web2py_ajax.js (which is loaded below).
    var w2p_ajax_confirm_message = "{{=T('Are you sure you want to delete this object?')}}";
    var w2p_ajax_date_format = "{{=T('%Y-%m-%d')}}";
    var w2p_ajax_datetime_format = "{{=T('%Y-%m-%d %H:%M:%S')}}";
    //--></script>
{{
response.files.insert(0,URL('static','basic/js/jquery-1.7.1.min.js'))
response.files.insert(1,URL('static','basic/js/jquery-ui-1.8.17.custom.min.js'))
response.files.insert(1,URL('static','basic/css/anytime.css'))
response.files.insert(3,URL('static','basic/js/anytime.js'))
response.files.insert(4,URL('static','basic/js/web2py.js'))
response.files.insert(5,URL('static','basic/js/tabs.js'))
response.files.insert(6,URL('static','basic/js/basic.js'))
}}

{{
#if request.controller in ['article'] and request.function in ['edit','new']:
response.files.insert(7,URL('static','basic/css/custom-theme/jquery-ui-1.8.16.custom.css'))
response.files.insert(8,URL('static','basic/css/jquery.tagit.css'))
#response.files.insert(8,URL('static','basic/css/tagit.ui-zendesk.css'))
response.files.insert(9,URL('static','basic/js/tag-it.js'))
#pass
}}

{{
response.include_meta()
response.include_files()
}}
